.card {
  grid-column: 2 / 3;
  background: #565656;
  display: grid;
  grid-template-columns: 1fr 3fr;
  color: #f3f3f3;
  margin-bottom: 2rem;
  overflow: hidden;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: 0 7px 7px rgba(37, 37, 37, 0.5);

  .img-link {
    max-height: 18rem;
    max-width: 15rem;

    .img-div {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      width: 100%;
      height: 100%;


      img {
        width: 100%;
        height: 100%;
      }
    }

    @media (max-width: 666px) {
      display: none;
    }
  }




  &-content {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    row-gap: 2rem;

    @media (max-width: 666px) {
      grid-column: 1 / -1;
    }

    p {
      font-size: .8rem;

      @media (max-width: 500px) {
        font-size: .8rem;
      }
    }

    .links {
      grid-column: 1 / 3;
      justify-self: center;
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media (max-width: 666px) {
        grid-column: 1 / -1;
        margin-bottom: .5rem;
      }
    }
  }

  &-text {
    grid-column: 1 / 3;
    display: grid;

    @media (max-width: 768px) {
      grid-column: 1 / -1;
    }

    .card-title {
      align-self: end;
      justify-self: center;
      background: #a5a5a5;
      padding: .5rem 1rem;
      color: #686868;
      border-radius: 3px;
      text-align: center;

      @media (max-width: 500px) {
        justify-self: stretch;
      }
    }

    .card-desc {
      background: #727272;
      text-align: center;
      display: grid;
      justify-content: center;
      align-items: center;
      padding: .5rem 1rem;
      border-radius: 3px;
      box-shadow: 0 7px 7px rgba(37, 37, 37, 0.5);
    }
  }

  &-link {
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 7px 7px rgba(37, 37, 37, 0.5);

    &-1 {
      grid-column: 1 / 2;
    }

    &-2 {
      font-size: 2rem;
    }

    ;
  }
}